extends layoutmain 

block content
    h2 Blockchain Contract Management Demo
    h4 Steps to run this Application
    p 1. Enroll Admin then Login.
    p 2. They MUST be executed FIRST.
    p 3. Then you will be redirected to another page
    p 4. Where you can execute Invoke, Query, and API multiple times in any order.
    a(href='/enroll')  Enroll Admin
script(src='/bootstrap/js/bootstrap.bundle.js')