extends layout

block content
    h2 Blockchain Contract Management Demo
    p Kindly login to view/edit the contracts.
    //-p Enroll Admin then Register User.
    //-p They MUST be executed FIRST.
    //-p Then you can execute Invoke, Query, and API multiple times in any order.
script(src='/bootstrap/js/bootstrap.bundle.js')
