html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Blockchain Demo
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/style-query.css')
        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet' href='/bootstrap/css/navbar-top-fixed.css')
        link(rel='stylesheet' href='login.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.fixed-top
            .container-fluid
                a#top.navbar-brand(href='/') Blockchain Contract Management Demo
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarCollapse.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.mb-2.mb-lg-0
                        li.nav-item
                            a#side1.nav-link(href='/enroll') Enroll Admin
                        li.nav-item
                            a#side3.nav-link(href='/invoke') Invoke
                        li.nav-item
                            a#side4.nav-link(href='/query') Contracts
                        li.nav-item
                            a#side5.nav-link(href='/scopeup') Update Scope
                        li.nav-item
                            a#side6.nav-link(href='/logout') logout
                        
        main.container
            block content
    script(src='/bootstrap/js/bootstrap.bundle.js')